<div class="master">
<center>
	
    <div class="maindiv">
    
    	<div class="logo"><img src="images/CRU.png" alt="CRU" border="0" /></div>
        <div class="help"><strong><a href="#">HELP</a></strong></div>
        
        <div class="wrapper">
        	
            <div class="wrapperLeft">
            
            	<span><img src="images/group.png" alt="cru" border="0" /></span>
                
                <div class="wrrapperLeftText">
                <h1>TRANSFORMATION IN THE LOCKER ROOM</h1><br />
Just two months ago I was speaking in front of the St. Cloud State football team for the first time, knowing no players but praying that God would one day build a spiritual movement on this team. At the first Bible study, only one player came - Corey, who is a junior. I prayed that God might use Corey as a gateway to his team. Prayers have been answered through Corey! The head coach now sends a weekly text message to his team to remind them of our Bible study and five to six guys now come every week!
                </div>
               
               <div class="ReadMore"><a href="#">Read More</a></div>
                
            </div>
            
            
    
            
            <div class="wrapperRight">
            	
                
                <div class="image"><img src="images/student.png" border="0" /></div>
                
                <div class="content">
                <h1>CRU STUDENT MAKE AN IMPACT IN A COMMUNITY: MELISSA'S STORY</h1><br />
                <p>Melissa was desperate and she “wanted God to do something,” when four college students came to her door with food and the gospel.</p>
                </div>
                
                <div class="spacer"></div>
           
           	<div class="image"><img src="images/student1.png" border="0" /></div>
           	
           	<div class="content">
              <h1>YOU WERE IN MY DREAM LAST NIGHT</h1><br />
                <p>Amber is a freshman from Troy Mills, Iowa. During the first week of school I briefly introduced myself to her and invited her to Bible study.</p>
              </div>
                
                
              <div class="ReadMore"><a href="#">See More Stories</a></div>
                
            </div>
            
            
    
            
        </div>
        
	
    
    
        
        
     	<div class="SponcerWrapper">
        		
                <div class="ContentHolder">
                
                	<div class="LogoHolder"><img src="images/uscm.png" border="0" /></div>
                    
                    <div class="LogoHolder"><img src="images/panorama.png" border="0" /></div>
                    
                    <div class="LogoHolder"><img src="images/mission.png" border="0" /></div>
                    
                    <div class="LogoHolder"><img src="images/wiki.png" border="0" /></div>
                    
                  
                    
                    <div class="LogoHolder"><img src="images/OneCard.png" border="0" /></div>
                    
                    <div class="LogoHolder"><br />
                    <img src="images/GMX.png" border="0" /></div>
                    
                    <div class="LogoHolder"><br /><img src="images/StaffWeb.png" width="135" height="40" border="0" /></div>
                    
                    <div class="LogoHolder"><br /><img src="images/InfoBase.png" width="135" height="40" border="0" /></div>
                    
                
                
                </div>
        		
        </div>
        


		<div class="bottom">
        	
            	<div class="MyTeam">
                	<h1>My Missional Teams</h1>
                    <a href="#"><img src="images/JoinTeam.png" border="0z" /></a>
                </div>
                
                
                <div class="EnterStats">
                
                	<div class="button"><a href="#">Enter Site</a></div>
                
                </div>
                
                
                <div class="Search">
                	<span class="title"><h1>Search the InfoBase</h1></span>
                    <span><input name="" type="radio" value="" /> Location</span><br />
                    <span><input name="" type="radio" value="" /> Person</span><br />
                    <span><input name="" type="radio" value="" /> Team</span><br />
                    
                    <span> <input name="" type="text" size="10" /> <input name="GO" type="button" class="Go" value="Go" /></span>
                </div>
            
        </div>
        
        
     
     	<div class="footer">© 2011 Cru Global</div>
        
        <!-----footer end---->
        
     	
    
    </div>

</center>
</div>